.containerMenuCart {
  display: flex;
  width: 100%;
}

.menu {
  width: 50%;
  padding: 10px;
}

.cart {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.cartSinProduct {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.cartItems {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}