.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-bottom: solid 1px grey;
  padding: 30px;
}

.title {
  font-size: 18px;
}

.price {
  margin-top: -20px;
  font-size: 16px;
  background-color: rgb(151, 255, 168, 0.5);
  padding: 5px;
  text-align: center;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
