.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image {
    width: 30%;
    border: solid 1px green;
}

.info {
    width: 30%;
    border: solid 1px rgb(184, 179, 44);
}